html
  head
    title= title
  body
    div(class="container")
      a(href="#") 
        img(src="...", alt="")
      h3 Title
      p this is the description 
    div(class="container")
      a(href="#")
        img(src="...", alt="")
      h3 Title
      p this is the description

      
