doctype html

//link css
link(rel='stylesheet', href='/css/styleMain.css', type='text/css')  

html
  head
    title=title
  body
    div(class="noteContainer")
      div(class="galleryItem")
        a(href="#") 
          img(src="...", alt="")
        h3 One
        p this is the description for the image that is right there lookie.
      div(class="galleryItem")
        a(href="#")
          img(src="...", alt="")
        h3 Two
        p this is the description for the image that is right there lookie.
      div(class="galleryItem")
        a(href="#")
          img(src="...", alt="")
        h3 Three
        p this is the description for the image that is right there lookie.
      div(class="galleryItem")
        a(href="#")
          img(src="...", alt="")
        h3 Four
        p this is the description for the image that is right there lookie.
      div(class="galleryItem")
        a(href="#")
          img(src="...", alt="")
        h3 Five
        p this is the description for the image that is right there lookie.
      div(class="galleryItem")
        a(href="#")
          img(src="...", alt="")
        h3 Six
        p this is the description for the image that is right there lookie.
