doctype html

//link css
link(rel='stylesheet', href='/css/styleMain.css', type='text/css')

html
  head
    title Notes
  body
    .container
      .noteEntry
        form(action="" method="post")
          label Notes
          textarea
          input(type="submit" value="Save")
          
