doctype html

//link css
link(rel='stylesheet', href='/css/styleMain.css', type='text/css')

html
  head
    title Notes
  body
    .container
      .noteEntry
        form(action="/notes/notesubmit" method="post")
          label Notes
          textarea(type="text" name="newNote")
          input(type="submit" value="Save")
          
