doctype html

//link css
link(rel='stylesheet', href='/css/styleMain.css', type='text/css')

html
  head
    title NotesEdit
  body
    .noteContainer
      .noteEntry
        form(action="/notes/saveEdit" method="post")
          label Notes
          input(type="hidden" name="noteId" value=note._id)
          textarea(type="text" name="note" placeholder="Editing note")
            | #{note.note}
          .noteMenu
            span.noteMenuCell
              input(type="submit" value="Save")
