doctype html

//link css
link(rel='stylesheet', href='/css/styleMain.css', type='text/css')

html
  head
    title Notes
  body
    .container
      .noteEntry
        textarea
          | thisisnice
